format = """\
$os\
"""

# ${custom.weather}
# [](fg:user-cell)\
[custom.weather]
command = "~/.config/bash/scripts/weather.sh"
ignore_timeout = true
when = true
style = "fg:white"
format = "[$output ]($style)"

[fill]
symbol = " "

[os]
disabled = true
style = "fg:white bg:user-cell"
format = "[$symbol]($style)  "

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = ""
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[custom.lys]
# ⚜
when = false
style = "fg:blue bg:user-cell"
format = "[ 󱌃 ]($style)"

# [custom.canada]
# when = "! git rev-parse --is-inside-work-tree >/dev/null 2>&1"
# style = "fg:red"
# format = "[ ]($style)"

# [custom.testingIcon]
# when = "git rev-parse --is-inside-work-tree >/dev/null 2>&1"
# format = "[⚓]()"



# Unicode Pair Ideas
# - Box / Line Corners
# - ▛ ▙ — blocky, high-contrast corners (graphic)

# symbol = " " #     󰊤      󰮠        🌱      |    

------------------------------------------------------

[custom.startLine1Git]
# symbol = "⎧"
# symbol = "🯮"
# symbol = "╭"
# symbol = "┌"
# symbol = "┏"
# symbol = "𜸬"

[custom.startLine2Git]
# symbol = "⎩"
# symbol = "🯬"
# symbol = "╰"
# symbol = "└"
# symbol = "┗"
# symbol = "𜸫"

[custom.gitFolder]
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = "󰊢 "
# symbol = " "

[custom.userIcon]
# symbol = "ゴルド–さん"
# symbol = "「ゴルド–さん」"
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = "󰼁 "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = " "
# symbol = "󰇥 "


--------------------------------------------

[custom.gitFolder]
when = "git rev-parse --is-inside-work-tree >/dev/null 2>&1"
style = "fg:blue"
symbol = " "
# symbol = " "
format = "[$symbol ]($style)"

[custom.startLine1NotGit]
when = "! git rev-parse --is-inside-work-tree >/dev/null 2>&1"
style = "fg:white"
symbol = "┏"
format = "[$symbol]($style) "

[custom.startLine2NotGit]
when = "! git rev-parse --is-inside-work-tree >/dev/null 2>&1"
style = "fg:white"
symbol = "┗"
format = "\n[$symbol]($style) "

[custom.notGitFolder]
when = "! git rev-parse --is-inside-work-tree >/dev/null 2>&1"
style = "fg:white"
symbol = " "
format = "[$symbol ]($style)"

${custom.userIcon}\

[custom.userIcon]
when = "true"
style = "fg:yellow"
symbol = "ゴルド–さん"
# symbol = "「ゴルド–さん」"
# symbol = " "
# symbol = "󰼁 "
# symbol = " "
# symbol = " "
# symbol = "󰇥 "
# symbol = "󰫴󰫼󰫹󰫱󰫼󰬃󰬀󰫸󰬆 "
format = "[$symbol]($style)"
